.c1{
    color: chartreuse;
}

.c2{
    color: aqua;
    font-size: larger;
}

.c3{
    font-size: larger;
    color: darkred;
}

.c4{
    font-size: large;
    color: deepskyblue;
}

.c5{
    font-size: large;
    color: deepskyblue;
}

.c6{
    margin-left: 0px;
}
