.c1{
    color: chartreuse;
    width: 500px;
}

.c2{
    color: aqua;
    width: 500px;
}

.c3{
    font-size: larger;
    color: darkred;
}

.c4{
    width: 500px;
    font-size: large;
    color: deepskyblue;
    left: 80%;
}