@font-face {
    font-family: my123;
    src: url('ml.TTF');
}
.c1 {
    color: chartreuse;
    font-size: larger;
    font-family: my123;
}
.c2{
    color: fuchsia;
    font-size: larger;
    font-family: my123;
}

a:hover{
    color: white;
}
a:active{
    color: #e5e5e5;
}

.c3{
    font-size: larger;
    color: darkred;
}

.c4{
    font-size: large;
    color: deepskyblue;
}

.c5{
    font-size: large;
    color: deepskyblue;
}

.c6{
    margin-left: 0px;
}

